{% extends 'crud_example/layout.html' %}

{% block content %}
    <h1>Редактировать пост</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Заголовок</label>
            <input class="form-control" type="text" id="title" name="title" value="{{ post['title'] }}" required>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Контент</label>
            <textarea class="form-control" id="content" name="content" required>{{ post['content'] }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Назад</a>
    </form>
{% endblock %}