{% extends "base.html" %}

{% block title %}Главная страница сайта{% endblock %}

{% block content %}
<h1>Главная страница сайта</h1>
<h2>Здесь видны все посты пользователей</h2>
<p>Некоторое содержимое...</p>
<ul>
    {% for post in posts %}
    <li>
        <h2>{{ post['title'] }} (Автор: {{ post['login'] }})</h2>
        <p>{{ post['content'] }}</p>

        <!-- Отображение тегов -->
        {% if post['tags'] %}
        <p><strong>Теги:</strong> {{ post['tags'] }}</p>
        {% endif %}

        {% if post['image_path'] %}
        <img src="{{ post['image_path'] }}" alt="Картинка поста" width="300">
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}